# True for development, False for production
DEBUG=True

# Flask ENV
FLASK_APP=flask_app.py
SECRET_KEY=YOUR_SUPER_KEY

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# If DEBUG=False (production mode)
DB_ENGINE=mysql
DB_NAME=nutribuddy$default
DB_HOST=nutribuddy.mysql.pythonanywhere-services.com
DB_PORT=3306
DB_USERNAME=nutribuddy
DB_PASS=Welcome_2023

# SOCIAL AUTH Github
# GITHUB_ID=YOUR_GITHUB_ID
# GITHUB_SECRET=YOUR_GITHUB_SECRET
